@import url("reset-style.css");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200;0,6..12,300;0,6..12,400;0,6..12,500;0,6..12,600;0,6..12,700;0,6..12,800;0,6..12,900;0,6..12,1000;1,6..12,200;1,6..12,300;1,6..12,400;1,6..12,500;1,6..12,600;1,6..12,700;1,6..12,800;1,6..12,900;1,6..12,1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

.wrapper {
    width: 100%;
    height: 100%;
}

header {
    position: absolute;
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: space-between;
    padding: 0 5%;
}

nav {
    display: flex;
    height: 100%;
    align-items: center;
}

nav ul {
    display: flex;
}

nav ul li {
    padding: 0 15px;
}

nav ul li a,
nav ul li a,
nav ul li a:visited,
nav ul li a:active {
    display: inline-block;
    position: relative;
    font-family: "Nunito Sans", serif;
    color: white;
    font-size: 1.1rem;
}

nav ul li a::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    bottom: -2px;
    left: 0;
    background-color: #fff;
    transform-origin: bottom center;
    transition: transform 0.25s ease-out;
}

nav ul li a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom center;
}

.logo {
    background: url("../img/icon.svg") 100% / 100% 100%;
    height: 70px;
    width: 70px;
    margin: 10px 0;
}

.container-home {
    height: 100vh;
    width: 100%;
    background: center / cover no-repeat url("../img/main.jpg");
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container-home h1 {
    font-family: "Noto Serif", serif;
    color: white;
    font-size: 55px;
    letter-spacing: 2px;
}

main h2 {
    text-align: center;
    font-size: 40px;
    align-self: center;
    height: 7%;
}

.container-about-us {
    display: flex;
    flex-direction: column;
    background-color: #EBEDF1;
}

.container-about-us .content {
    height: auto;
    width: 100%;
    padding: 0 5%;
    display: flex;
}

.container-about-us .image {
    height: 600px;
    width: 50%;
    align-self: center;
    background: bottom 50% left 40% / contain no-repeat url(../img/about_us.jpg);
}

.container-about-us .text {
    width: 50%;
    padding: 3%;
    font-size: 2rem;
    text-align: center;
    align-self: center;
    background-color: rgba(0, 0, 0, 0.02);
}

.container-areas-of-practice {
    height: 300px;
    display: flex;
    flex-direction: column;
    background-color: #dee2e6;
}

.container-areas-of-practice h2 {
    height: 45px;
}

.container-areas-of-practice .content {
    height: 100%;
    display: grid;
    grid-template: 1fr / repeat(4, 1fr);
    justify-items: center;
}

.box-1 {
    background: url(../img/icon1.png) center top 10% / 205px no-repeat;
}

.box-2 {
    background: url(../img/icon2.png) center top 10% / 205px no-repeat;
}

.box-3 {
    background: url(../img/icon3.png) center top 10% / 205px no-repeat;
}

.box-4 {
    background: url(../img/icon4.png) center top 10% / 205px no-repeat;
}

.box-1,
.box-2,
.box-3,
.box-4 {
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    font-size: 2em;
    transition: all 0.5s ease;
}

.box-1:hover,
.box-2:hover,
.box-3:hover,
.box-4:hover {
    transform: scale(105%);
}

.box-1 p,
.box-2 p,
.box-3 p,
.box-4 p {
    padding-bottom: 10px;
}

.container-what-talk-about-us {
    width: 100%;
    background-color: #EBEDF1;
}

.container-what-talk-about-us h2 {
    padding: 10px 0;
}

.container-what-talk-about-us .content {
    background-color: #fff;
    height: 558px;
    position: relative;
    border-top: solid 2px #dee2e6;
    border-bottom: solid 2px #dee2e6;
}

.container-what-talk-about-us .content .items {
    height: 100%;
    width: 100%;
}

.container-what-talk-about-us .content button {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 50%;
    border-bottom: solid 3px #dee2e6;
    border-right: solid 3px #dee2e6;
    background-color: transparent;
    transition: all 1s ease;
}

.prev {
    left: 1%;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.next {
    right: 1%;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.prev:hover,
.next:hover {
    border-bottom: solid 3px #353535 !important;
    border-right: solid 3px #353535 !important;
}

.container-what-talk-about-us .content .items>.item {
    display: flex;
    height: 100%;
}

.container-what-talk-about-us .content .items>.item .image {
    background: url("https://assets-global.website-files.com/65361edcddeda04982e50cf0/6537a3acf9d5ef9abf5892a9_Rectangle%20315.jpg") center / 50% no-repeat;
    width: 40%;
    height: 100%;
    border-radius: 50px;
}

.container-what-talk-about-us .content .items>.item .comment {
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
}

.container-what-talk-about-us .content .items>.item .comment .text {
    display: flex;
    align-items: center;
    padding: 0 50px;
    height: 70%;
    border-left: solid 5px #353535;
    font-size: 2.5rem;
    text-align: justify;
    font-style: italic;
}

.container-what-talk-about-us .content .items>.item .comment .text p::first-letter {
    padding-left: 2rem;
}

.container-what-talk-about-us .content .items>.item .comment .text p::before {
    content: '\00AB';
}

.container-what-talk-about-us .content .items>.item .comment .text p::after {
    content: '\00BB';
}

.container-get-in-touch {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em 0;
    background-color: #EBEDF1;
}

.container-get-in-touch a {
    width: 350px;
    height: 50px;
    background-color: #353535;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: "Source Sans 3", serif;
    letter-spacing: 1px;
    font-size: 1.5rem;
    text-align: center;
    transition: all 0.75s ease;
}

.container-get-in-touch a:active,
.container-get-in-touch a:visited {
    color: white;
}

.container-get-in-touch a:hover {
    background-color: orange;
}

.container-map {
    height: 400px;
    width: 100%;
}

.container-map iframe {
    height: 100%;
    width: 100%;
    filter: blur(5px) grayscale(100%);
    transition: all 1s ease;
    user-select: none;
}

.container-map iframe:hover {
    filter: blur(0) grayscale(100%);
}

footer {
    font-family: "Nunito Sans", serif;
    background-color: #2F3239;
    color: white;
    height: 50px;
}

footer nav {
    display: flex;
    justify-content: space-between;
    padding: 0 3%;
}

@media (max-width: 1024px) and (min-width: 769px) {

    .container-about-us {
        display: block;
        height: auto;
    }

    .container-about-us .content {
        padding: 0;
    }

    .container-areas-of-practice {
        height: 600px;
    }

    .container-areas-of-practice .content {
        height: 100%;
        grid-template: repeat(2, 1fr) / repeat(2, 1fr);
    }
}

@media (max-width: 768px) {

    .container-about-us,
    .container-about-us .content {
        display: block;
        height: auto;
    }

    .container-about-us .content .image,
    .container-about-us .content .text {
        width: 100%;
    }

    .container-about-us .content .image {
        height: 450px;
        background-position: center;
    }

    .container-areas-of-practice {
        height: 1200px;
    }

    .container-areas-of-practice .content {
        grid-template: repeat(4, 2fr) / 1fr;
    }
}