.container-home {
    height: 100vh;
    width: 100%;
    background: center / cover no-repeat url("../../img/main.jpg");
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container-home h1 {
    font-family: "Noto Serif", serif;
    color: white;
    font-size: 55px;
    letter-spacing: 2px;
}

main h2 {
    text-align: center;
    font-size: 40px;
    align-self: center;
    height: 7%;
}

.container-about-us {
    display: flex;
    flex-direction: column;
    background-color: #EBEDF1;
    padding: 10px 0;
}

.container-about-us .content {
    height: auto;
    width: 100%;
    padding: 0 5%;
    display: flex;
}

.container-about-us .image {
    height: 600px;
    width: 50%;
    align-self: center;
    background: bottom 50% left 40% / contain no-repeat url(../../img/about_us.jpg);
}

.container-about-us .text {
    width: 50%;
    padding: 3%;
    font-size: 2rem;
    text-align: center;
    align-self: center;
    background-color: rgba(0, 0, 0, 0.02);
}

.container-areas-of-practice {
    height: 300px;
    display: flex;
    flex-direction: column;
    background-color: #dee2e6;
    border-top: solid 2px #adb5bd;
    border-bottom: solid 2px #adb5bd;
}

.container-areas-of-practice h2 {
    height: 45px;
}

.container-areas-of-practice .content {
    height: 100%;
    display: grid;
    grid-template: 1fr / repeat(4, 1fr);
    justify-items: center;
}

.box-1 {
    background: url(../../img/icon1.png) center top 10% / 205px no-repeat;
}

.box-2 {
    background: url(../../img/icon2.png) center top 10% / 205px no-repeat;
}

.box-3 {
    background: url(../../img/icon3.png) center top 10% / 205px no-repeat;
}

.box-4 {
    background: url(../../img/icon4.png) center top 10% / 205px no-repeat;
}

.box-1,
.box-2,
.box-3,
.box-4 {
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    font-size: 2em;
    transition: all 0.5s ease;
}

.box-1:hover,
.box-2:hover,
.box-3:hover,
.box-4:hover {
    transform: scale(105%);
}

.box-1 p,
.box-2 p,
.box-3 p,
.box-4 p {
    padding-bottom: 10px;
}

.container-what-talk-about-us {
    width: 100%;
    background-color: #EBEDF1;
}

.container-what-talk-about-us h2 {
    padding: 10px 0;
}

.container-what-talk-about-us .content {
    background-color: #fff;
    position: relative;
    border-top: solid 2px #dee2e6;
    border-bottom: solid 2px #dee2e6;
}

.container-what-talk-about-us .content .items {
    height: 100%;
    width: 100%;
}

.container-what-talk-about-us .content button {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 50%;
    border-bottom: solid 3px #dee2e6;
    border-right: solid 3px #dee2e6;
    background-color: transparent;
    transition: all 1s ease;
}

.prev {
    left: 3%;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.next {
    right: 3%;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.prev:hover,
.next:hover {
    border-bottom: solid 3px #353535 !important;
    border-right: solid 3px #353535 !important;
}

.items>.item {
    height: 100%;
    width: 100%;
}

.items>.item .image {
    background: url("https://assets-global.website-files.com/65361edcddeda04982e50cf0/6537a3acf9d5ef9abf5892a9_Rectangle%20315.jpg") center / 55% no-repeat;
    height: 70vw;
    width: 100%;
    border-radius: 50px;
}

.items>.item .comment {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.items>.item .comment .text {
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: solid 5px #353535;
    font-size: 2.5rem;
    text-align: justify;
    font-style: italic;
    width: 80%;
}

.items>.item .comment .text p {
    padding: 10px 0;
}

.items>.item .comment .text p::first-letter {
    padding-left: 2rem;
}

.items>.item .comment .text p::before {
    content: '\00AB';
}

.items>.item .comment .text p::after {
    content: '\00BB';
}

.container-get-in-touch {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em 0;
    background-color: #EBEDF1;
}

.container-get-in-touch a {
    width: 350px;
    height: 50px;
    background-color: #353535;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: "Source Sans 3", serif;
    letter-spacing: 1px;
    font-size: 1.5rem;
    text-align: center;
    transition: all 0.75s ease;
}

.container-get-in-touch a:active,
.container-get-in-touch a:visited {
    color: white;
}

.container-get-in-touch a:hover {
    background-color: orange;
}

.container-map {
    height: 400px;
    width: 100%;
}

.container-map iframe {
    height: 100%;
    width: 100%;
    filter: blur(5px) grayscale(100%);
    transition: all 1s ease;
    user-select: none;
}

.container-map iframe:hover {
    filter: blur(0) grayscale(100%);
}


@media (max-width: 1024px) and (min-width: 769px) {

    .container-about-us {
        display: block;
        height: auto;
    }

    .container-about-us .content {
        padding: 0;
    }

    .container-areas-of-practice {
        height: 600px;
    }

    .container-areas-of-practice .content {
        height: 100%;
        grid-template: repeat(2, 1fr) / repeat(2, 1fr);
    }

    .items>.item .image {
        background-size: 75%;
        width: 35% !important;
    }

    .items>.item .comment {
        width: 65% !important;
    }
}

@media (max-width: 768px) {

    .container-about-us,
    .container-about-us .content {
        display: block;
        height: auto;
    }

    .container-about-us .content .image,
    .container-about-us .content .text {
        width: 100%;
    }

    .container-about-us .content .image {
        height: 450px;
        background-position: center;
    }

    .container-areas-of-practice {
        height: 1200px;
    }

    .container-areas-of-practice .content {
        grid-template: repeat(4, 2fr) / 1fr;
    }

    .container-map iframe {
        filter: blur(0) grayscale(100%);
    }
}

@media (min-width: 768px) {

    .items>.item {
        display: flex;
    }

    .items>.item .image {
        height: 500px;
        width: 40%;
    }

    .items>.item .comment {
        width: 60%;
        align-self: center;
        justify-content: start;
    }

    .comment .text {
        padding: 10px;
        height: 80%;
        width: 95% !important;
        border-top: none !important;
        border-left: solid 5px #353535 !important;
    }

    .prev {
        left: 1.25%;
    }

    .next {
        right: 1.25%;
    }
}